/* Geral: Aplique uma altura mínima para garantir que o fundo cubra toda a página */
body {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  display: flex;
  width: 100%;
}

/* Página inicial (Fundo específico para a página inicial) */
.pagina_inicial {
  background-image: url(../assets/imgs/fundo_site.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Garante que a imagem cubra toda a altura da página */
}

/* Página de login (Fundo específico para a página de login) */
.pagina_login {
  background-image: url(../assets/imgs/Max1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Garante que a imagem cubra toda a altura da página */
}

/* Página de cadastro (Fundo específico para a página de cadastro) */
.pagina_cadastro {
  background-image: url(../assets/imgs/Max1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Garante que a imagem cubra toda a altura da página */
}

/* Estilo geral da página */
.container {
  display: flex;
  width: 80%;
  margin: auto;
}

/* Ajuste do layout do header */
.header {
  height: var(--tamanho-header);
  display: flex;
  align-items: center;
}

/* Aplique um fundo escuro no header para contraste */
.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.511); /* Fundo transparente para dar contraste */
}

/* Estilo de link no header */
.header a {
  text-decoration: none;
  color: #e3b062;
  margin-right: 30px;
}

/* Página sobre */
.sobre {
  height: 360px;
  width: 1200px;
  background-color: #000000ab;
  color: #e3b062;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 150px 150px;
  border-radius: 50px;
}

/* Página footer */
.footer {
  background-color: rgb(0 0 0);
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #e3b062;
  text-align: center;
}
