* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    background-image: url(./assets/imgs/História.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #e3b062;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121214ab;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    height: 80px;
}

nav a {
    color: #e3b062;
}

nav img {
    height: 80px;
    width: 80px;
    margin: 2%;
}

nav a img {
    height: 80px;
    width: 35px;
}

nav #logo {
    margin: 10px;
}


.container {
    background-color: #121214ab;
    width: 90%;
    max-width: 800px;
    border: 2px solid #e1e1e6;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_pergunta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.perguntas_quiz {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.respostas_quiz {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.next {
    margin-top: 32px;
}

.button {
    background-color: rgba(0, 0, 0, 0.715);
    color: #e3b062;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    transition: filter 0.2s;
}

.button:not(:disabled):hover {
    filter: brightness(0.8);
}

.resposta:disabled {
    cursor: not-allowed;
}

.hide {
    display: none;
}

.correta {
    background-image: url(./assets/imgs/Senna3.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.errada {
    background-image: url(./assets/imgs/Latifi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.certa {
    background-color: green;
}

.errou {
    background-color: #a10101;
}